ol{
	list-style-type:upper-roman;
}

ol ol{
	list-style-type: upper-alpha;
}

ol ol ol{
	list-style-type: decimal;
}

.pink{
	color:pink;
}

.blue{
	color:blue;
}

.red{
	color:red;
}